@import "tailwindcss";
@import url("https://fonts.cdnfonts.com/css/lufga");
@plugin "daisyui";

@theme {
	--color-my-primary: #252b42;
	--color-my-secondary: #ffffff;
	--color-my-tertiary: #737373;
	--color-my-quaternary: #23a6f0;
	--text-shadow-xl: 0 0px 50px rgb(0, 0, 0 / 0.25);
	--breakpoint-mobile-sm: 480px;
	--breakpoint-mobile: 640px;
	--breakpoint-tablet: 768px;
	--breakpoint-laptop-sm: 1024px;
	--breakpoint-laptop: 1280px;
	--breakpoint-desktop: 1440px;
	--breakpoint-desktop-lg: 1600px;
	--breakpoint-desktop-xl: 1920px;
}

@plugin "daisyui/theme" {
	name: "light";
	default: false;
	prefersdark: false;
	color-scheme: "light";
	--color-base-100: oklch(0.99 0 0);
	--color-base-200: oklch(96% 0.003 264.542);
	--color-base-300: oklch(92% 0.006 264.531);
	--color-base-content: oklch(21% 0.034 264.665);
	--color-primary: oklch(0.88 0.165 123.88);
	--color-primary-content: oklch(28% 0.109 3.907);
	--color-secondary: oklch(0.39 0.1013 126.97);
	--color-secondary-content: oklch(29% 0.066 243.157);
	--color-accent: oklch(98% 0 0);
	--color-accent-content: oklch(27% 0.105 12.094);
	--color-neutral: oklch(27% 0.006 286.033);
	--color-neutral-content: oklch(98% 0.002 247.839);
	--color-info: oklch(44% 0.017 285.786);
	--color-info-content: oklch(97% 0.014 254.604);
	--color-success: oklch(27% 0.006 286.033);
	--color-success-content: oklch(98% 0.014 180.72);
	--color-warning: oklch(44% 0.017 285.786);
	--color-warning-content: oklch(98% 0.016 73.684);
	--color-error: oklch(27% 0.006 286.033);
	--color-error-content: oklch(96% 0.015 12.422);
	--radius-selector: 0.25rem;
	--radius-field: 0.25rem;
	--radius-box: 0rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

@theme {
	--color-my-primary: #3490dc;
	--text-tiny: 0.625rem;
}

@layer components {
	.why-card {
		@apply flex flex-col items-center  justify-between laptop-sm:gap-2 laptop:gap-4 mobile-sm:p-4 laptop:p-8 laptop-sm:max-h-none border-zinc-300 border rounded-2xl bg-accent max-w-fit w-4/12;
	}
	.donate-card {
		@apply flex flex-col justify-between laptop-sm:gap-2 laptop:gap-4 mobile-sm:p-3 laptop-sm:p-4 laptop:p-6 border-zinc-300 border rounded-2xl bg-accent max-w-fit w-8/12 mobile-sm:max-w-[240px] laptop-sm:max-w-none;
	}
	.email-downtext {
		@apply flex flex-col gap-3;
	}
	.email-header {
		@apply text-xl font-semibold text-accent;
	}
	.email-text {
		@apply text-base text-accent/80;
	}
}

html {
	font-family: "Lufga", sans-serif;
}
